*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a{
  text-decoration: none;
  -webkit-tap-highLight-color:transparent;
  color: inherit;
} 

::-webkit-input-placeholder {
  color: #969799;
}

/* Firefox 4-18 */
:-moz-placeholder {
  color: #969799;
}

/* Firefox 19-50 */
::-moz-placeholder {
  color: #969799;
}

/* - Internet Explorer 10–11
- Internet Explorer Mobile 10-11 */
:-ms-input-placeholder {
  color: #969799 !important;
}

/* Edge (also supports ::-webkit-input-placeholder) */
::-ms-input-placeholder {
  color: #969799;
}

/* CSS Working Draft */
::placeholder {
  color: #969799 !important;
}

.van-cell{
  padding: 12px 15px;
}
.cell-border-bottom{
  border-bottom: 1px solid #eee;
  padding-left: 0;
  margin-left: 15px;
  width: calc(100% - 15px);
}
.van-field__control:disabled{
  color: #969799;
  -webkit-text-fill-color: #969799;
}